.body {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  display: flex-box;
  width: 1200px;
  height: 550px;
  background-color: white;
  /* border: 3px solid green; */
  border-radius: 15px;
}

.body h1 {
  margin: auto;
  padding-bottom: 20px;
  width: 200px;
  /* border: 3px solid green; */
}
.logout {
  margin: auto;
  width: 300px;
  height: 100px;
  /* border: 3px solid green; */
}
.body button {
  margin-top: 50px;
  margin-left: 20px;
  position: absolute;
  border-radius: 20px;
  border-style: hidden;
  width: 260px;
  height: 40px;
  color: white;
  font-weight: bold;
  background-image: linear-gradient(
    to right,
    rgb(16, 125, 250),
    rgb(223, 71, 223)
  );
  /* border: 3px solid green; */
}

.body button:hover {
  background-image: linear-gradient(
    to right,
    rgb(13, 118, 238),
    rgb(209, 66, 209)
  );
}

.body button:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
